@import './mypui.scss';

.myp-bg {
	&- {
		background-color: $myp-bg-color-inverse;
	}
	&-nav {
		background-color: $myp-nav-bg-color;
	}
	&-primary {
		background-color: $myp-color-primary;
		&-disabled {
			background-color: $myp-color-primary;
			opacity: $myp-opacity-disabled;
		}
	}
	&-success {
		background-color: $myp-color-success;
		&-disabled {
			background-color: $myp-color-success;
			opacity: $myp-opacity-disabled;
		}
	}
	&-warning {
		background-color: $myp-color-warning;
		&-disabled {
			background-color: $myp-color-warning;
			opacity: $myp-opacity-disabled;
		}
	}
	&-error {
		background-color: $myp-color-error;
		&-disabled {
			background-color: $myp-color-error;
			opacity: $myp-opacity-disabled;
		}
	}
	&-dark {
		background-color: $myp-bg-color-dark;
		&-disabled {
			background-color: $myp-bg-color-dark;
			opacity: $myp-opacity-disabled;
		}
	}
	&-light {
		background-color: $myp-bg-color-light;
		&-disabled {
			background-color: $myp-bg-color-light;
			opacity: $myp-opacity-disabled;
		}
	}
	&-inverse {
		background-color: $myp-bg-color-inverse;
		&-disabled {
			background-color: $myp-bg-color-inverse;
			opacity: $myp-opacity-disabled;
		}
	}
	&-border {
		background-color: $myp-border-color;
		&-light {
			background-color: $myp-border-color-light;
		}
		&-dark {
			background-color: $myp-border-color-dark;
		}
	}
	&-custom {
		background-color: $myp-color-custom;
		&-disabled {
			background-color: $myp-color-custom;
			opacity: $myp-opacity-disabled;
		}
	}
	&-link {
		background-color: $myp-color-link;
		&-disabled {
			background-color: $myp-color-link;
			opacity: $myp-opacity-disabled;
		}
	}
	&-none {
		background-color: transparent;
	}
	&-page {
		background-color: $myp-bg-color-page;
	}
	&-hover {
		background-color: $myp-bg-color-hover;
	}
	&-mask {
		background-color: $myp-bg-color-mask;
		&-dark {
			background-color: $myp-bg-color-mask-dark;
		}
	}
}

.myp-color {
	&- {
		color: $myp-text-color;
	}
	&-nav {
		&-title {
			color: $myp-nav-title-color;
		}
		&-icon {
			color: $myp-nav-icon-color;
		}
		&-item {
			color: $myp-nav-item-color;
		}
	}
	&-text {
		color: $myp-text-color;
	}
	&-custom {
		color: $myp-color-custom;
	}
	&-link {
		color: $myp-color-link;
	}
	&-primary {
		color: $myp-color-primary;
	}
	&-success {
		color: $myp-color-success;
	}
	&-warning {
		color: $myp-color-warning;
	}
	&-error {
		color: $myp-color-error;
	}
	&-inverse {
		color: $myp-text-color-inverse;
	}
	&-second {
		color: $myp-text-color-second;
	}
	&-third {
		color: $myp-text-color-third;
	}
	&-forth {
		color: $myp-text-color-forth;
	}
	&-place {
		color: $myp-text-color-place;
	}
	&-disabled {
		color: $myp-text-color-disabled;
	}
}

.myp-size {
	&- {
		font-size: $myp-font-size-base;
	}
	&-nav {
		&-title {
			font-size: $myp-nav-title-size;
		}
		&-icon {
			font-size: $myp-nav-icon-size;
		}
		&-item {
			font-size: $myp-nav-item-size;
		}
	}
	&-ss {
		font-size: $myp-font-size-ss;
	}
	&-s {
		font-size: $myp-font-size-s;
	}
	&-base {
		font-size: $myp-font-size-base;
	}
	&-l {
		font-size: $myp-font-size-l;
	}
	&-ll {
		font-size: $myp-font-size-ll;
	}
}

.myp-height {
	&- {
		height: $myp-height-base;
	}
	&-ss {
		height: $myp-height-ss;
	}
	&-s {
		height: $myp-height-s;
	}
	&-base {
		height: $myp-height-base;
	}
	&-l {
		height: $myp-height-l;
	}
	&-ll {
		height: $myp-height-ll;
	}
}

.myp-border {
	&-all {
		border-width: $myp-border-width !important;
		border-style: solid !important;
		border-color: $myp-border-color !important;
		&-light {
			border-width: $myp-border-width !important;
			border-style: solid !important;
			border-color: $myp-border-color-light !important;
		}
		&-dark {
			border-width: $myp-border-width !important;
			border-style: solid !important;
			border-color: $myp-border-color-dark !important;
		}
		&-primary {
			border-width: $myp-border-width !important;
			border-style: solid !important;
			border-color: $myp-color-primary !important;
		}
		&-success {
			border-width: $myp-border-width !important;
			border-style: solid !important;
			border-color: $myp-color-success !important;
		}
		&-warning {
			border-width: $myp-border-width !important;
			border-style: solid !important;
			border-color: $myp-color-warning !important;
		}
		&-error {
			border-width: $myp-border-width !important;
			border-style: solid !important;
			border-color: $myp-color-error !important;
		}
		&-inverse {
			border-width: $myp-border-width !important;
			border-style: solid !important;
			border-color: $myp-border-color-inverse !important;
		}
		&-custom {
			border-width: $myp-border-width !important;
			border-style: solid !important;
			border-color: $myp-color-custom !important;
		}
		&-link {
			border-width: $myp-border-width !important;
			border-style: solid !important;
			border-color: $myp-color-link !important;
		}
	}
	&-top {
		border-top-color: $myp-border-color !important;
		border-top-width: $myp-border-width !important;
		border-top-style: solid !important;
		&-light {
			border-top-color: $myp-border-color-light !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
		&-dark {
			border-top-color: $myp-border-color-dark !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
		&-primary {
			border-top-color: $myp-color-primary !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
		&-success {
			border-top-color: $myp-color-success !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
		&-warning {
			border-top-color: $myp-color-warning !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
		&-error {
			border-top-color: $myp-color-error !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
		&-inverse {
			border-top-color: $myp-border-color-inverse !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
		&-custom {
			border-top-color: $myp-color-custom !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
		&-link {
			border-top-color: $myp-color-link !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
	}
	&-bottom {
		border-bottom-color: $myp-border-color !important;
		border-bottom-width: $myp-border-width !important;
		border-bottom-style: solid !important;
		&-light {
			border-bottom-color: $myp-border-color-light !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
		}
		&-dark {
			border-bottom-color: $myp-border-color-dark !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
		}
		&-primary {
			border-bottom-color: $myp-color-primary !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
		}
		&-success {
			border-bottom-color: $myp-color-success !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
		}
		&-warning {
			border-bottom-color: $myp-color-warning !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
		}
		&-error {
			border-bottom-color: $myp-color-error !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
		}
		&-inverse {
			border-bottom-color: $myp-border-color-inverse !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
		}
		&-custom {
			border-bottom-color: $myp-color-custom !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
		}
		&-link {
			border-bottom-color: $myp-color-link !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
		}
	}
	&-left {
		border-left-color: $myp-border-color !important;
		border-left-width: $myp-border-width !important;
		border-left-style: solid !important;
		&-light {
			border-left-color: $myp-border-color-light !important;
			border-left-width: $myp-border-width !important;
			border-left-style: solid !important;
		}
		&-dark {
			border-left-color: $myp-border-color-dark !important;
			border-left-width: $myp-border-width !important;
			border-left-style: solid !important;
		}
		&-primary {
			border-left-color: $myp-color-primary !important;
			border-left-width: $myp-border-width !important;
			border-left-style: solid !important;
		}
		&-success {
			border-left-color: $myp-color-success !important;
			border-left-width: $myp-border-width !important;
			border-left-style: solid !important;
		}
		&-warning {
			border-left-color: $myp-color-warning !important;
			border-left-width: $myp-border-width !important;
			border-left-style: solid !important;
		}
		&-error {
			border-left-color: $myp-color-error !important;
			border-left-width: $myp-border-width !important;
			border-left-style: solid !important;
		}
		&-inverse {
			border-left-color: $myp-border-color-inverse !important;
			border-left-width: $myp-border-width !important;
			border-left-style: solid !important;
		}
		&-custom {
			border-left-color: $myp-color-custom !important;
			border-left-width: $myp-border-width !important;
			border-left-style: solid !important;
		}
		&-link {
			border-left-color: $myp-color-link !important;
			border-left-width: $myp-border-width !important;
			border-left-style: solid !important;
		}
	}
	&-right {
		border-right-color: $myp-border-color !important;
		border-right-width: $myp-border-width !important;
		border-right-style: solid !important;
		&-light {
			border-right-color: $myp-border-color-light !important;
			border-right-width: $myp-border-width !important;
			border-right-style: solid !important;
		}
		&-dark {
			border-right-color: $myp-border-color-dark !important;
			border-right-width: $myp-border-width !important;
			border-right-style: solid !important;
		}
		&-primary {
			border-right-color: $myp-color-primary !important;
			border-right-width: $myp-border-width !important;
			border-right-style: solid !important;
		}
		&-success {
			border-right-color: $myp-color-success !important;
			border-right-width: $myp-border-width !important;
			border-right-style: solid !important;
		}
		&-warning {
			border-right-color: $myp-color-warning !important;
			border-right-width: $myp-border-width !important;
			border-right-style: solid !important;
		}
		&-error {
			border-right-color: $myp-color-error !important;
			border-right-width: $myp-border-width !important;
			border-right-style: solid !important;
		}
		&-inverse {
			border-right-color: $myp-border-color-inverse !important;
			border-right-width: $myp-border-width !important;
			border-right-style: solid !important;
		}
		&-custom {
			border-right-color: $myp-color-custom !important;
			border-right-width: $myp-border-width !important;
			border-right-style: solid !important;
		}
		&-link {
			border-right-color: $myp-color-link !important;
			border-right-width: $myp-border-width !important;
			border-right-style: solid !important;
		}
	}
	&-tb {
		border-bottom-color: $myp-border-color !important;
		border-bottom-width: $myp-border-width !important;
		border-bottom-style: solid !important;
		border-top-color: $myp-border-color !important;
		border-top-width: $myp-border-width !important;
		border-top-style: solid !important;
		&-light {
			border-bottom-color: $myp-border-color-light !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
			border-top-color: $myp-border-color-light !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
		&-dark {
			border-bottom-color: $myp-border-color-dark !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
			border-top-color: $myp-border-color-dark !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
		&-primary {
			border-bottom-color: $myp-color-primary !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
			border-top-color: $myp-color-primary !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
		&-success {
			border-bottom-color: $myp-color-success !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
			border-top-color: $myp-color-success !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
		&-warning {
			border-bottom-color: $myp-color-warning !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
			border-top-color: $myp-color-warning !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
		&-error {
			border-bottom-color: $myp-color-error !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
			border-top-color: $myp-color-error !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
		&-inverse {
			border-bottom-color: $myp-border-color-inverse !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
			border-top-color: $myp-border-color-inverse !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
		&-custom {
			border-bottom-color: $myp-color-custom !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
			border-top-color: $myp-color-custom !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
		&-link {
			border-bottom-color: $myp-color-link !important;
			border-bottom-width: $myp-border-width !important;
			border-bottom-style: solid !important;
			border-top-color: $myp-color-link !important;
			border-top-width: $myp-border-width !important;
			border-top-style: solid !important;
		}
	}
	&-none {
		border-width: 0 !important;
	}
}

.myp-radius {
	&-ss {
		border-radius: $myp-border-radius-ss;
	}
	&-s {
		border-radius: $myp-border-radius-s;
	}
	&-base {
		border-radius: $myp-border-radius-base;
	}
	&-l {
		border-radius: $myp-border-radius-l;
	}
	&-ll {
		border-radius: $myp-border-radius-ll;
	}
	&-none {
		border-radius: 0;
	}
	&-top {
		border-top-left-radius: $myp-border-radius-base;
		border-top-right-radius: $myp-border-radius-base;
		
		&-ss {
			border-top-left-radius: $myp-border-radius-ss;
			border-top-right-radius: $myp-border-radius-ss;
		}
		&-s {
			border-top-left-radius: $myp-border-radius-s;
			border-top-right-radius: $myp-border-radius-s;
		}
		&-base {
			border-top-left-radius: $myp-border-radius-base;
			border-top-right-radius: $myp-border-radius-base;
		}
		&-l {
			border-top-left-radius: $myp-border-radius-l;
			border-top-right-radius: $myp-border-radius-l;
		}
		&-ll {
			border-top-left-radius: $myp-border-radius-ll;
			border-top-right-radius: $myp-border-radius-ll;
		}
		&-left {
			&-ss {
				border-top-left-radius: $myp-border-radius-ss;
			}
			&-s {
				border-top-left-radius: $myp-border-radius-s;
			}
			&-base {
				border-top-left-radius: $myp-border-radius-base;
			}
			&-l {
				border-top-left-radius: $myp-border-radius-l;
			}
			&-ll {
				border-top-left-radius: $myp-border-radius-ll;
			}
		}
		&-right {
			&-ss {
				border-top-right-radius: $myp-border-radius-ss;
			}
			&-s {
				border-top-right-radius: $myp-border-radius-s;
			}
			&-base {
				border-top-right-radius: $myp-border-radius-base;
			}
			&-l {
				border-top-right-radius: $myp-border-radius-l;
			}
			&-ll {
				border-top-right-radius: $myp-border-radius-ll;
			}
		}
	}
	&-bottom {
		border-bottom-left-radius: $myp-border-radius-base;
		border-bottom-right-radius: $myp-border-radius-base;
		
		&-ss {
			border-bottom-left-radius: $myp-border-radius-ss;
			border-bottom-right-radius: $myp-border-radius-ss;
		}
		&-s {
			border-bottom-left-radius: $myp-border-radius-s;
			border-bottom-right-radius: $myp-border-radius-s;
		}
		&-base {
			border-bottom-left-radius: $myp-border-radius-base;
			border-bottom-right-radius: $myp-border-radius-base;
		}
		&-l {
			border-bottom-left-radius: $myp-border-radius-l;
			border-bottom-right-radius: $myp-border-radius-l;
		}
		&-ll {
			border-bottom-left-radius: $myp-border-radius-ll;
			border-bottom-right-radius: $myp-border-radius-ll;
		}
		&-left {
			&-ss {
				border-bottom-left-radius: $myp-border-radius-ss;
			}
			&-s {
				border-bottom-left-radius: $myp-border-radius-s;
			}
			&-base {
				border-bottom-left-radius: $myp-border-radius-base;
			}
			&-l {
				border-bottom-left-radius: $myp-border-radius-l;
			}
			&-ll {
				border-bottom-left-radius: $myp-border-radius-ll;
			}
		}
		&-right {
			&-ss {
				border-bottom-right-radius: $myp-border-radius-ss;
			}
			&-s {
				border-bottom-right-radius: $myp-border-radius-s;
			}
			&-base {
				border-bottom-right-radius: $myp-border-radius-base;
			}
			&-l {
				border-bottom-right-radius: $myp-border-radius-l;
			}
			&-ll {
				border-bottom-right-radius: $myp-border-radius-ll;
			}
		}
	}
	&-left {
		border-top-left-radius: $myp-border-radius-base;
		border-bottom-left-radius: $myp-border-radius-base;
		
		&-ss {
			border-top-left-radius: $myp-border-radius-ss;
			border-bottom-left-radius: $myp-border-radius-ss;
		}
		&-s {
			border-top-left-radius: $myp-border-radius-s;
			border-bottom-left-radius: $myp-border-radius-s;
		}
		&-base {
			border-top-left-radius: $myp-border-radius-base;
			border-bottom-left-radius: $myp-border-radius-base;
		}
		&-l {
			border-top-left-radius: $myp-border-radius-l;
			border-bottom-left-radius: $myp-border-radius-l;
		}
		&-ll {
			border-top-left-radius: $myp-border-radius-ll;
			border-bottom-left-radius: $myp-border-radius-ll;
		}
	}
	&-right {
		border-top-right-radius: $myp-border-radius-base;
		border-bottom-right-radius: $myp-border-radius-base;
		
		&-ss {
			border-top-right-radius: $myp-border-radius-ss;
			border-bottom-right-radius: $myp-border-radius-ss;
		}
		&-s {
			border-top-right-radius: $myp-border-radius-s;
			border-bottom-right-radius: $myp-border-radius-s;
		}
		&-base {
			border-top-right-radius: $myp-border-radius-base;
			border-bottom-right-radius: $myp-border-radius-base;
		}
		&-l {
			border-top-right-radius: $myp-border-radius-l;
			border-bottom-right-radius: $myp-border-radius-l;
		}
		&-ll {
			border-top-right-radius: $myp-border-radius-ll;
			border-bottom-right-radius: $myp-border-radius-ll;
		}
	}
}

.myp-overflow {
	&-hidden {
		overflow: hidden;
	}
}

.myp-hover {
	&-opacity {
		opacity: $myp-opacity-hover;
	}
	&-bg {
		background-color: $myp-bg-color-hover;
		
		&-dark {
			background-color: $myp-bg-color-hover-dark;
		}
	}
	&-bg-opacity {
		background-color: $myp-bg-color-hover;
		opacity: $myp-opacity-hover;
	}
}

.myp-disabled {
	opacity: $myp-opacity-disabled;
	&-text {
		color: $myp-text-color-disabled;
	}
}
